@import './variable.scss';

html, body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  background: $bg-white;
  color: $letter-gray;
  font-size: 16px;
  font-family: 'Inter',
    -apple-system,
    BlinkMacSystemFont,
    Roboto,
    'Segoe UI',
    Helvetica,
    Arial,
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol';
  font-weight: 500;
}

a {
  color: inherit;
  transition: 0.2s;
  &:hover {
    opacity: 0.6;
    transition: 0.2s;
  }
}

h1 {
  font-size: 24px;
  margin: 0;
}
h2 {
  font-size: 20px;
  margin: 0;
}
h3 {
  font-size: 18px;
  margin: 0;
}
p {
  margin: 4px 0;
}
input,
button {
  font-size: inherit;
  font-family: inherit;
  border: none;
}

button {
  cursor: pointer;
  &:disabled {
    cursor: not-allowed;
    opacity: 0.4;
  }
}
  
.container {
  background: $bg-gray-primary;
  border-radius: 10px;
  padding: $container-mp * 2;
  margin: $container-mp;
  width: calc(100% - #{$container-mp * 6});
  & > h2 {
    height: 45px;
  }
}
